<!doctype html>
<html>
<head>
  <title>The Judgey Eye</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <hr>
        <a href="/users" class="header-link">View Users</a>
        <a href="/movies" class="header-link">View Movies</a>
        <hr>

        <!-- Show flashed messages -->
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        {% endwith %}

        <!-- This is where the main content goes. -->
        {% block content %}
        BODY OF PAGE GOES HERE VIA INHERITANCE
        {% endblock %}

        <hr>
        <a href="/log-out">Log Out</a>
        <hr>
    </div>
</body>
</html>