{% extends 'base.html' %}
{% block content %}

    <h1>Movie Profile</h1>
    <h2>{{movie.title}}</h2>

    {% if rating_status %}
      <p>You have already rated this movie: {{rating_status.score}}</p>
    {% else %}
      <p>You have not rated this movie yet!</p>
    {% endif %}

    <a href="/movies">Go back to movies</a>
    
    <form action="/movie/{{movie.movie_id}}" method="POST">
      <label>Update/Add Rating: 
        <select name="user_rating">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>

        <input type="submit">
      </label>
    </form>

    <ul>
      <li>Release: {{movie.released_at}}</li>
      <li>IMDB: <a href="{{movie.imdb_url}}"> {{movie.imdb_url}} </a></li>
      <li>Movie Ratings:</li>
        <ul>
          {% for rating in movie.ratings %}
            <li>{{rating.user_id}}: {{rating.score}}</li>
          {% endfor %}
        </ul>
    </ul>



{% endblock %}